.box {
    background-color: #C76D3C;
    width: 350px;
    padding: 30px;
    margin: 50px auto;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0 0 30px 0 #000;
    border-radius: 20px;
}

.nombre {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: white;
}

.subtitulo {
    text-align: center;
    font-size: 10px;
    color: white;
}

.content {
    text-align: justify;
    line-height: 1.6;
    font-size: 5px;
    color: white;
}

.img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: auto;
    display: block;
}